absl-py==0.11.0
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cycler==0.10.0
Cython==0.29.22
numpy==1.20.1
fsspec==0.8.5
future==0.18.2
google-auth==1.26.1
google-auth-oauthlib==0.4.2
grpcio==1.35.0
idna==2.10
joblib==1.0.1
julius==0.2.2
kiwisolver==1.3.1
madmom==0.16.1
Markdown==3.3.3
matplotlib==3.3.4
mido==1.2.9
mir-eval==0.6
multidict==5.1.0
oauthlib==3.1.0
Pillow==8.1.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-lightning==1.1.8
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
SoundFile==0.10.3.post1
sox==1.4.1
soxbindings==1.2.2
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
torch==1.7.1+cu110; sys_platform == 'linux'
torch==1.7.1; sys_platform == 'darwin'
torchaudio==0.7.2
torchsummary==1.5.1
torchvision==0.8.2+cu110; sys_platform == 'linux'
torchvision==0.8.2; sys_platform == 'darwin'
tqdm==4.56.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
yarl==1.6.3
